@media screen and (max-width: 1400px)
   .container 
      max-width: 1200px
   .nav__tel
      margin-right: 60px
   .item__btn
      top: 84px
   .item__sum
      font-size: 36px
      line-height: 100%
   .info__item_7 p
      max-width: 368px
   .area__box
      flex-direction: column
   .area__content
      margin-bottom: 108px
   .area__info
      max-width: 100%
   .area__img
      width: 63.6%
   .contacts h2
      position: relative
      z-index: 3
   .footer__box
      padding-right: 0
   .footer__bottom
      padding-right: 150px
   .sear__list
      margin-left: 33px
   .item-room .swiper2 .swiper-slide
      width: 23.7%
   .area__item picture
      width: 63.6%
   .links__item h3
      margin-right: 100px
   .team__item img
      width: 277px
   .team__left
      max-width: 34%
   .team__left h1
      font-size: 36px
      line-height: 120%
   .links__item .svg
      flex: 1 0 auto 
      max-width: 49px 
      width: 49px
   .ser-page .links__item h3
      margin-right: 56px
   .ser-page .links__item div
      max-width: 444px
   .cases__item
      width: 23%
   .price .tabs__content
      max-width: 771px
   .cert .swiper8 .swiper-slide a img
      height: 484px
   .exc-item__sub
      max-width: 420px
   .corporate__area div h4
      max-width: 315px
   .corporate__name
      max-width: 400px
   .reviews .swiper9 .swiper-slide
      width: 31%
@media screen and (max-width: 1199px)
   .main 
      overflow: hidden
   .container 
      max-width: 960px !important
   .menu-btn, .menu
      display: block
   .nav__logo
      top: 76px
   .header__wrap
      padding-left: 0
   .header__wrap h1 span, h1
      letter-spacing: -0.2rem
      font-size: 80px
   .header__wrap h1
      margin-bottom: -74px
   .header__wrap p
      left: 263px
      bottom: 123px
      text-align: center
   .main__sub
      margin-left: 0
      margin-bottom: 42px
      text-align: center
      width: 100%
   .main
      padding: 0px 0 78px
   .main .head h1
      width: 100%
      max-width: 649px
   .main__btn
      position: absolute
      width: 48.5%
      height: 316px
      bottom: 47px
      right: 0
      top: initial
      font-size: 24px
      flex-direction: column 
      padding-left: 0
      img 
         top: 28px
         right: 28px
         position: absolute
         margin-right: 0
   .main__item
      width: 48.5%
      max-width: 48.5%
      position: relative !important
      top: 0 !important
      left: 0 !important
      right: 0 !important
      bottom: 0 !important
      margin: 0 0 45px !important
   .main__row
      flex-wrap: wrap 
      justify-content: space-between
      gap: 22px
   .main__wrap 
      padding-bottom: 0
      display: flex
      flex-wrap: wrap
   .bb 
      display: block
      margin-top: 5px
      margin-left: 0
   .ser__row
      bottom: 85px
      flex-direction: column
      align-items: flex-start
   .ser .arrows
      margin: 60px auto 0
   .item 
      h2 
         font-size: 40px
         line-height: 100%
         letter-spacing: -0.1rem
   .item__title p
      font-size: 24px
      margin-left: 16px
   .item__title h2 span
      margin-left: 8px
      font-size: 50px
      position: relative
      top: 2px
      margin-right: 0
   .item
      padding-top: 40px
      padding-bottom: 89px
   .item .booking
      margin-top: 48px
   .item__btn
      top: 88px
   .swiper2 .swiper-wrapper 
      align-items: stretch
   .item .swiper2
      height: auto
      width: 100%
      overflow: hidden
      .swiper-slide 
         height: 539px
   .item__gold
      display: none
   .med__wrap h2
      margin-bottom: 50px
      left: 0
      font-size: 64px
   h2 
      font-size: 64px
      letter-spacing: -0.15rem
   .med .swiper-pagination3
      width: 100%
      margin-bottom: 37px
   .med .swiper3 .swiper-slide img
      height: 326px
      margin-bottom: 20px
   .med
      padding: 60px 0 80px
   .med .swiper3 .swiper-slide p
      max-width: 370px
   .pic
      height: 278px
   .info h2
      margin-bottom: 60px
   .info__item
      width: 49% !important
   .info__pic
      width: 132%
      left: -150px
      bottom: 181px
   .info__item_7, .info__item_8
      margin-top: 300px
      margin-left: 0
      margin-bottom: 0
   .info
      padding: 0px 0 48px
   .info__item_5:before, .info__item_6:before, .info__item_8:before
      top: -38px
   .area
      padding: 63px 0
   .area__content
      margin-bottom: 90px
   .area__item 
      .area__content
         margin-bottom: 0
   .area__img
      width: 53%
   .images
      flex-wrap: wrap
      img
         height: 244px
         width: 50%
   .contacts
      position: relative
      padding: 46px 0 60px
   .contacts__content
      position: relative
      z-index: 5
   .contacts__content
      margin-bottom: 350px
   .contacts__wrap
      position: initial
   .contacts__map 
      height: auto
      width: 80%
      right: 9%
      top: 119px
      z-index: 1
   .contacts__bottom
      flex-direction: column
   .contacts__info
      margin-right: 0
      margin-bottom: 80px
      max-width: 100%
   .contacts__area
      margin-top: 0
      justify-content: space-between
   .spec .main__btn
      top: 0px
      width: 340px
      margin-left: 0px
      height: 60px
      border-radius: 0px
      padding-left: 0px
      font-size: 16px
      flex-direction: inherit
      position: relative
      img 
         top: 0
         right: 0
         position: relative
   .spec__box
      flex-direction: column
   .spec__content
      margin-top: 70px
      max-width: 100%
   .spec__info
      margin-right: 40px
   .spec__row
      justify-content: space-between
   .spec .spec__item_2 .spec__info
      margin-left: 0
   .spec__last
      margin-top: 59px
      justify-content: space-between
   .spec__last div
      margin-right: 0
   .spec__last div
      width: 37.5%
   .footer__item
      width: max-content
   .footer__item:first-child
      margin-right: 48px
   .footer__img
      width: 270px
   .page
      .nav__logo 
         display: none
   .page .header__wrap h1
      span 
         font-size: 40px
   .error__fig
      width: 100%
      margin-left: 0
      left: 0
      z-index: 0
   .error 
      position: relative
      z-index: 2
   .page .header__wrap h1
      margin-top: 290px
   .sear__list
      display: none
   .item-room .swiper2 .swiper-slide
      width: 31.9%
   .room2__item:nth-child(2n)
      margin-left: 0
   .room3__top
      margin-bottom: 60px
      flex-direction: column
   .room3__right
      margin-left: 0
      margin-top: 30px
      max-width: 100%
   .room3__row
      flex-direction: column
   .room3__left
      max-width: 100%
   .blog .swiper4 .swiper-slide a h3
      font-size: 27px
   .blog-item__wrap h1
      margin-bottom: 120px
   .blog-item__row
      flex-direction: column
   .blog-item__content
      max-width: 100% 
      margin-top: 30px
   .blog-item__block
      text-align: center
      padding: 20px
      height: auto
   .blog-item__images img
      height: 450px
   .blog-item__images
      margin-bottom: 40px
   .blog-item__row h3
      font-size: 30px
      line-height: 120%
   .page .header__wrap .margin2
      margin-top: 244px
   .med .swiper3 .swiper-slide .btn
      margin: 30px 230px 0 auto
   .info h2
      margin: -64px 0 67px
      margin-bottom: 44px
      margin-left: -10px
      width: 100%
      max-width: 473px
   .item__pic
      height: 473px
   .links__item h3
      font-size: 21px
      max-width: 300px
      margin-right: 50px
   .links__item span
      margin-right: 50px
   .links__item p
      font-size: 11px
   .about__area, .about .blog-item__text, .about__info
      margin-left: 0
      max-width: 100%
   .team__row
      flex-direction: column
   .team__left
      margin-bottom: 40px
      max-width: 100%
   .team__left h1
      margin-bottom: 25px
   .team__left h2
      font-size: 21px
   .team__left p
      font-size: 16px
   .team__right
      max-width: 100%
   .team-item__row
      flex-direction: column 
      align-items: flex-start
   .team-item__row h3
      font-size: 21px
      line-height: 130% 
      margin-bottom: 20px
   .team-item__row p
      max-width: 100%
      font-size: 14px
   .team-item__row
      padding: 25px 0
   .team-item__row:last-child
      margin-bottom: 20px
   .team-item__top
      margin: 40px 0 60px
      flex-direction: column
      align-items: center
   .team-item .team__content
      max-width: 100% 
      margin-top: 25px
   .team-item__left
      margin-right: 0
   .team-item .team__content h2
      font-size: 40px
      line-height: 120%
      margin-bottom: 20px
   .team-item .team__content .team-item__sub
      font-size: 21px
      line-height: 120%
      letter-spacing: 0
   .team-item .team__content span
      font-size: 21px
      line-height: 120%
   .team-item .team__content .team-item__text
      font-size: 16px
      margin-bottom: 40px
   .ser-page .links__item h3
      max-width: 250px
   .cases__item
      width: 31%
   .price__sub
      margin-left: 100px
   .price__area
      flex-direction: column
   .price__info
      max-width: 100% 
      margin: 0 auto
   .price__area .tabs__nav 
      width: 100%
      max-width: 100%
      flex-direction: column
      margin: 0 auto 60px
      text-align: center
      br 
         display: none
   .price__area .tabs__nav a
      font-size: 18px
      margin-bottom: 30px
   .price__btn
      display: none
   .price .tabs__content
      max-width: 100%
   .lic__row p
      br 
         display: none
   .cert .swiper8 .swiper-slide:nth-child(2n), .cert .swiper8 .swiper-slide:nth-child(3n)
      margin-top: 0
   .exc-item__sub 
      position: relative
      max-width: 100%
      margin-top: 20px
   .shop__item
      width: 47%
   .contacts-page 
      .contacts__wrap 
         position: relative
      .contacts__map
         top: 306px
   .contacts-page h2
      margin-bottom: 100px
   .contacts-page__info
      max-width: 100%
   .corporate__name 
      font-size: 21px
      margin-bottom: 25px
      max-width: 100%
   .corporate__row
      flex-direction: column
   .corporate__info
      max-width: 100%
   .corporate__area div
      padding: 20px 0 
      flex-direction: column
   .corporate__area div h4
      font-size: 21px
      max-width: 100% 
      margin-bottom: 15px
   .corporate__area div p
      font-size: 14px
      max-width: 100% 
      margin-bottom: 15px
   .corporate__area div span
      font-size: 14px
      max-width: 100% 
   .corporate .room3__left p
      font-size: 14px
      margin-bottom: 20px
   .corporate__row_2
      margin-bottom: 0
      padding-bottom: 100px
   .transfer__row
      flex-direction: column 
      margin: 40px 0
   .transfer #map
      height: 500px
   .help .about__flex_2
      flex-direction: column
   .help__links
      max-width: 100%
      margin-top: 30px
   .help .contacts-page__info
      max-width: 100%
      margin-top: 30px
   .reviews
      .container
         padding-bottom: 100px
         position: relative
   .reviews__top
      margin-bottom: 40px
   .reviews__top .btn
      position: absolute
      bottom: 0
      left: 50%
      margin-left: -170px
   .reviews .swiper9 .swiper-slide
      width: 47.8%
   .page2
      overflow: hidden
   .rules .team__left
      margin-bottom: 30px
   .rules__row
      flex-direction: column-reverse
      align-items: center
   .rules__content
      max-width: 100% 
      margin-top: 40px
@media ( max-width: 991px )
   .item .date-input input
      margin-bottom: 0  !important
   .order .dates_1 .date-input
      margin-bottom: 0 !important
   .container 
      max-width: 720px !important
   input, textarea, select
      -webkit-appearance: none
      -moz-appearance: none
      appearance: none
   .nav__sub
      font-size: 14px
      margin-left: 34px
   .nav__tel
      font-size: 14px
      margin-right: 34px
   .nav__btn
      width: 164px
   .main__item
      width: 48.4%
      max-width: 48.4%
   .main
      padding-bottom: 40px
   .item .dates
      flex-direction: column
   .item .booking
      align-items: flex-start
      flex-direction: column
   .item .date-field:first-child
      margin-right: 0
   .item .date-field
      margin-bottom: 20px
   .item__per
      padding-left: 0
   .item__btn 
      top: 230px
      right: inherit
      left: 187px
   .med .swiper3 .swiper-slide p
      padding-right: 0
   .info__item h3
      br 
         display: none
   .info__item_7, .info__item_8
      h3 br 
         display: block
   .info__pic
      bottom: 208px
   .area__img
      width: 48.4%
   .area__item .area__content
      width: 100%
      max-width: 316px
   .area__btn
      width: 100% !important
   .contacts__map 
      height: auto
      width: 100%
      right: 0
      top: 192px
      z-index: 1
   .spec__block
      max-width: 275px
   .spec__per span
      white-space: nowrap
   .spec .spec__item_2 .spec__text
      margin-bottom: 54px
   .spec__last div p
      br 
         display: none
   .spec__last div
      width: 49.5%
   .footer__box
      flex-wrap: wrap
   .footer__area
      width: 100%
      margin-top: 40px
      display: flex
      align-items: flex-start
   .footer__last
      width: 41%
      margin-top: 0
      margin-left: auto
   .footer__bottom
      padding-right: 100px
   .footer__img
      margin-left: -209px
   .nav
      padding: 12px 0
   .nav__tel
      overflow: hidden
      width: 33px
      height: 33px
   .nav__btn
      width: 130px
      height: 37px
      font-size: 12px
   .menu__pic
      width: 150px
   .menu__title
      font-size: 22px
      margin-bottom: 23px
   .menu ul li a
      font-size: 12px
   .menu ul li.active a
      font-size: 14px
   .menu ul li
      margin-bottom: 14px
   .menu__tel
      margin: 30px auto
   .menu .footer__el a, .menu .footer__el span
      font-size: 12px
   .menu .footer__el 
      width: 180px
      margin: 0 auto 17px
   .menu .footer__el img
      width: 16px
      margin-right: 12px
   .nav__logo 
      top: 60px
      width: 200px
      margin-right: -100px
   .menu .btn 
      width: 164px
      height: 47px
      margin: 0 auto 23px
      font-size: 16px
      line-height: 100%
   .menu .btn:before
      width: 77px
      height: 47px
      background: url(/img/btn1.svg) no-repeat center center
   .menu .btn:after
      background: url(/img/btn2.webp) no-repeat center center / cover
      width: 4px
   .header__wrap
      height: 320px
   .header__wrap h1 span, h1
      font-size: 48px 
      text-align: center
      width: 100%
   .header__wrap h1
      margin-bottom: -43px
   .header__wrap p 
      left: 50%
      bottom: -87px
      text-align: center
      font-size: 13px
      margin-left: -55px
   .header__wrap
      height: 272px
   .main__sub
      font-size: 15px
      line-height: 18px
      max-width: 192px
      margin: 0 auto 26px
      br 
         display: none
   .main__item
      height: 183px
      width: 100%
      max-width: 100%
   .main__item:after
      top: 88px
   .contacts__socials a
      width: 60px
      height: 60px
      img
         width: 100%
   .page .header__wrap h1
      margin-top: 232px
   .error__pic
      margin: 50px 0 
      width: 100%
   .error__text
      margin-bottom: 50px
   .error__row
      flex-wrap: wrap
      gap: 4px 
   .error__item
      width: 49.6%
   .blog .swiper4 .swiper-slide a
      padding-bottom: 30px
      padding-top: 250px
   .blog .swiper4 .swiper-slide a h3
      font-size: 19px
      line-height: 110%
      display: block
      margin: 0 auto 8px
      letter-spacing: initial
      text-align: center
   .blog .swiper4 .swiper-slide a span
      font-size: 9px
      line-height: 110% 
      margin: 0 auto 20px
      text-align: center
      display: block
   .blog .swiper4 .swiper-slide a p
      font-size: 10px
      line-height: 120%
      text-align: center
      margin-bottom: 25px
   .blog .swiper4 .swiper-slide a small
      font-size: 9px
      line-height: 100% 
      text-align: center
      margin: 0 auto
   .search__sub
      text-align: center
      margin-bottom: 40px
   .search__item
      flex-direction: column 
      align-items: center
   .search__item
      text-align: center
      img
         margin-right: 0
         margin-bottom: 15px
   .search__item div h3
      text-align: center
      margin-bottom: 12px
   .search__item div p
      margin: 0 auto 15px
   .search__item div span
      margin: 0 auto
   .order .date-field:last-child
      margin-left: 0
   .order
      .dates 
         width: 100%
         .date-field
            width: 100%
   .item-room .swiper2 .swiper-slide
      width: 48%
   .room2__item
      margin-bottom: 60px
      flex-direction: column
   .room2__right
      max-width: 100%
   .room2__left
      margin-right: 0
      max-width: 100%
      margin-bottom: 30px
   .room2__title
      margin-bottom: 30px
   .room2__text
      margin: 30px 0
   .room2 .error__btn
      width: 100%
   .room2__item:nth-child(2n) .room2__right
      order: 2 
      text-align: left
   .room2__item:nth-child(2n) .room2__left
      margin-left: 0
   .room2__item:nth-child(2n) .room2__sub
      margin-left: 0
   .room3__slider .mySwiper5
      height: 600px
   .blog-page .swiper4 .swiper-slide
      width: 48.5%
   .services__wrap
      margin-top: 100px
      .error__row
         gap: 15px
   .services__item .error__item
      width: 100%
   .services__item
      margin-bottom: 100px
   .ch3:after
      margin-bottom: 30px
   .services__item:last-child
      margin-bottom: 30px 
   .services .room2 .error__btn
      margin-bottom: 30px
   .note
      bottom: 50px
   .marquee-item p
      font-size: 70px
   .marquee-item:after
      width: 60px
      height: 60px
      background-size: 100% !important
   .about .swiper7 .swiper-slide
      flex-direction: column-reverse
   .about .swiper7__img
      width: 100%
      height: 400px
   .about .swiper7__text
      max-width: 100%
   .ser-page__links
      margin: 40px 0
      flex-direction: column 
      text-align: center
      align-items: center
   .ser-page__links a
      margin-right: 0
      font-size: 18px
      line-height: 120%
      text-align: center
      margin-bottom: 20px
      br 
         display: none
   .cases__item
      width: 47.8%
   .cases__row
      margin-top: 30px
      gap: 20px
   .price__area
      flex-direction: column
   .price 
      .container 
         position: relative
      .price__sub
         margin-left: 0
         position: absolute
         top: 163px
         right: 41px
         z-index: -1
      .price__sub p
         font-size: 12px
         bottom: 1px
         right: -45px
         width: 214px
         text-align: center
         &::first-letter
            margin-left: 0
   .price__wrap .links__item:hover p
      max-width: 380px
   .cert .team__left
      flex-direction: column 
      .arrows 
         margin-top: 10px
   .lic h2
      font-size: 30px
      line-height: 100% 
      margin-bottom: 30px
      text-align: center
   .lic__row
      flex-direction: column
   .lic__row p 
      font-size: 18px
      line-height: 140%
      margin-left: 0
      text-align: center
      margin-top: 20px
   .lic__flex
      flex-direction: column 
      align-items: center
   .lic__code
      margin-right: 0
      margin-bottom: 25px
   .lic__content
      max-width: 100%
   .excursions 
      .links__item
         flex-direction: column
      .links__item h3
         margin-right: 0
         margin-bottom: 20px
   .kids .error__item p
      min-height: inherit
   .help h3
      font-size: 30px
      line-height: 120%
      margin-top: 30px
      margin-bottom: 30px
   .help .accordeon__button
      font-size: 18px
      padding-right: 100px
   .help .accordeon__item .panel__info
      font-size: 14px
   .help .about__flex h2
      font-size: 30px
      line-height: 120%
   .help .about__flex_2
      margin-top: 80px
   .reviews .swiper9
      gap: 20px
@media screen and (max-width: 767px)
   .main .head h1
      max-width: 300px
      margin-left: auto
      margin-right: auto
   .header__wrap p
      width: 100%
      max-width: 117px
      margin-left: -57px
   .main .head
      margin-bottom: 140px
   .container 
      max-width: 540px !important
   .main__row
      gap: 8px
   .main
     padding-top: 0px
     .main__btn 
         position: relative
         width: 100%
         height: 60px
         bottom: 0
         right: 0
         top: initial
         font-size: 16px
         flex-direction: initial
         padding-left: 0
         margin: 0
   .main__btn img
      display: none
   .bb
      margin-left: 5px
   .ser .swiper1
      height: 685px
   .ser__top
      margin-bottom: 0
      background: #7C6B5A
      padding: 60px 20px 26px
      img 
         width: 40px
   .ser__top p
      font-size: 15px
   .ser__block
      max-width: 93.5%
      background: transparent
      padding-top: 0px
   .ser__text
      background: #7C6B5A
      font-size: 12px
      margin-bottom: 0
      letter-spacing: 0
      padding: 0 20px 28px
   .ser__sub
      background: #7C6B5A
      font-size: 12px
      padding: 0 20px 20px
   .ser__bottom
      padding: 30px 0
      margin-top: 11px
   .arrow
      width: 40px
      height: 40px
      .svg 
         width: 11px
   .item h2
      font-size: 32px
   .item__title h2 span
      font-size: 40px
      top: 6px
   .item .date-label
      font-size: 15px
   .item .date-input input
      font-size: 11px
   .item .guest-option
      font-size: 11px
   .item__btn 
      top: 235px
      width: 263px
      height: 263px
      right: inherit
      left: 167px
      font-size: 24px
      padding-left: 30px
      padding-top: 77px
   .item__info span, .item__info p, .item__row p, .item__row span
      font-size: 11px
   .item__sum
      font-size: 35px
   .item__lnl
      font-size: 14px
      line-height: 19px
   .item .swiper2 .swiper-slide
      height: 470px
   .item
      padding-bottom: 38px
   .med__wrap h2
      font-size: 32px
      margin-bottom: 46px
      text-align: center
   .med
      padding: 20px 0 80px
   .swiper-pagination3
      display: none !important
   .swiper-select 
      display: block
      width: 100%
      max-width: 100%
      position: relative
      &:after 
         content: ""
         display: block
         position: absolute
         top: 14px
         right: 20px
         background: url(/img/after.svg) no-repeat center center
         width: 15px
         height: 8px
   #swiperSelect3
      position: relative
      width: 100%
      height: 33px
      margin-bottom: 11px
      display: flex
      justify-content: center
      align-items: center
      padding: 10px 24px
      border-radius: 57px
      background: rgba(199, 168, 136, 1)
      color: rgba(255, 255, 255, 1)
      font-size: 10px
      font-weight: 500
      line-height: 12px
      text-transform: uppercase
      font-family: 'Geometria'
      text-align: center
      outline: none !important
   .med .swiper3 .swiper-slide img
      height: 140px
   .med .swiper3 .swiper-slide p 
      text-align: center
      max-width: 100%
      font-size: 12px
   .med .arrows 
      margin: 21px auto 0
      position: relative
      bottom: 0
      left: 0
      z-index: 2
      justify-content: center
   .pic
      height: 195px
   .info h2
      text-align: center
      font-size: 32px
      margin: -151px auto 40px
      width: 100%
      max-width: 340px
   .info__item
      width: 100% !important
   .info__item h3
      font-size: 15px
      line-height: 21px 
      margin-bottom: 11px
      text-align: center
   .info__item p
      max-width: 100% 
      font-size: 13px
      line-height: 15px 
      text-align: center
   .info__item_5:before, .info__item_6:before, .info__item_8:before
      margin-left: -47px
      font-size: 11px
      left: 50%
      top: -43px
   .info__item_5, .info__item_6, .info__item_8
      margin-top: 20px
   .info__pic 
      bottom: 260px
      height: 206px
      width: 153%
   .info__item_7
      margin-top: 169px
   .info__item_8
      margin-top: 70px
   .info__item_7 p
      max-width: 100%
   .area__content h2
      font-size: 32px
      line-height: 37px
      text-align: center
   .area__content
      margin-bottom: 42px
      max-width: 100%
   .area__content h2:after
      margin: 29px auto 0
   .area__content p
      font-size: 14px
      letter-spacing: 0
      margin-bottom: 24px
      text-align: center
   .area__text
      font-size: 16px !important
      line-height: 19px !important
      margin-bottom: 40px !important
   .area__link
      width: 100%
   .area__item
      margin-bottom: 66px
      flex-direction: column-reverse
      &:nth-child(2n)
         flex-direction: column
         .btn 
            margin-bottom: 0 !important
   .area__item:nth-child(3) .btn
      margin-bottom: 0
   .area__item .area__content
      max-width: 100%
   .area__content
      img 
         margin: 0 auto 20px
         display: block
      .btn
         img
            margin: 0px 0 0 17px
            display: block
   .area__content h3
      margin-bottom: 20px
      text-align: center
   .area__link
      img
         margin: 0 0 0 15px
   .area__img
      width: 100%
      height: 200px
      margin-bottom: 40px
   .area__time
      width: 100%
   .area__content ul li
      justify-content: center
   .area__btn
      margin-bottom: 70px
   .area__line
      justify-content: space-between
      width: 100%
   .area__content blockquote
      text-align: center
      border-left: none
   .images img
      height: 123px
      width: 100%
   .contacts h2
      font-size: 32px
      margin-bottom: 28px
      text-align: center
   .contacts
      padding: 24px 0 30px
   .contacts__title:before
      margin: 0 auto 28px
   .contacts__title
      font-size: 12px
      text-align: center
   .contacts__text
      font-size: 13px
      text-align: center
   .contacts__name
      font-size: 12px
      text-align: center
   .contacts__local
      font-size: 14px
      text-align: center
   .contacts__map 
      height: 222px
      width: auto
      right: 50%
      top: 308px
      z-index: 1
      margin-right: -150px
   .contacts__content
      margin-bottom: 300px
   .contacts__info
      margin-bottom: 40px
   .container
      padding: 0 10px
   .contacts__area
      flex-direction: column-reverse
   .contacts__right
      text-align: center
   .contacts__area h3
      text-align: center
   .contacts__socials
      justify-content: center
   .contacts__tel
      font-size: 24px
   .contacts__sub
      margin-bottom: 40px
   .contacts__left
      margin-right: 0
   .contacts__el
      text-align: center
      padding-left: 0
      &:before 
         display: none
   .spec
      padding: 42px 0
   .spec h2
      font-size: 32px
      text-align: center
   .spec .contacts__content
      max-width: 100%
      width: 100%
   .contacts__title:before
      margin-bottom: 26px
   .spec .contacts__text
      margin: 0 auto
   .spec .main__btn
      margin-top: 35px
      width: 100%
   .spec__content
      margin-top: 46px
   .spec__fig
      width: 69%
   .spec__area h3
      font-size: 19px
      margin-bottom: 11px
   .spec__area:first-child .spec__sub
      font-size: 9px
   .spec__area span
      font-size: 31px
      line-height: 120%
   .spec__sub
      font-size: 9px
   .spec__text
      font-size: 10px
      line-height: 12px
   .spec__info ul li, .spec__name
      font-size: 9px
   .spec__per p
      font-size: 7px
   .spec__per span
      letter-spacing: 0
      font-size: 12px
   .spec__block
      margin-top: 30px
      padding: 18px
      max-width: 100%
   .spec__el
      padding-bottom: 5px
   .spec__let
      font-size: 9px
      line-height: 12px
   .spec__row
      flex-direction: column
   .spec__top
      margin-bottom: 28px
   .spec__let
      margin-top: 10px
   .spec__item
      margin-bottom: 40px
   .spec__item_2
      .spec__top
         margin-bottom: 0
      .spec__text
         margin: 29px 0 !important
   .spec__text
      font-size: 10px
      line-height: 12px
   .spec__set
      padding: 13px 17px
   .spec .spec__item_2 .spec__info
      max-width: 100%
   .spec__flex span, .spec__flex 
      font-size: 9px
   .spec__sum
      font-size: 21px 
      line-height: 120%
      letter-spacing: 0
   .spec__eco
      font-size: 7px
   .spec__last
      flex-direction: column
   .spec__last div
      padding-bottom: 15px
      width: 100%
      padding-left: 26px
      margin-bottom: 10px
   .spec__last div span
      font-size: 14px
   .footer__box
      padding-top: 33px
   .footer__text
      letter-spacing: 0
      margin-bottom: 53px 
   .footer__content
      order: 1
   .footer__lists
      margin-top: 60px
      width: 100%
      justify-content: space-between
      order: 3
   .footer__area
      flex-direction: column
      order: 2
      margin-top: 0
   .footer__box 
      padding-bottom: 112px
      position: relative
   .footer__last
      position: absolute
      bottom: 0
      left: 0
   .footer__img
      width: 180px
      margin-left: -90px
   .footer__bottom
      padding-bottom: 96px
      padding-right: 0
      flex-direction: column
   .footer__bottom p
      margin-bottom: 20px
   .footer__com
      top: 80px
   .menu__tel
      width: 60px
      height: 60px
      img 
         width: 100%
   .page .header__wrap h1
      margin-top: 143px
   .page .header__wrap h1, .page .header__wrap h1 span
      font-size: 34px
   .error__text
      font-size: 16px
      margin-bottom: 45px
      line-height: 19px 
   .error__item
      width: 100%
   .error__item p
      padding: 20px 34px 40px
      text-align: center
      box-sizing: border-box
      width: 100%
   .error__item .svg
      right: 50%
      margin-right: -16px
   .error__btn
      width: 100%
   .text h2
      font-size: 20px
      letter-spacing: 0 
      max-width: 300px
      margin: 0 auto 50px
   .text div h3
      font-size: 16px
      text-align: center
   .text div p, .text div ul li
      text-align: center
      font-size: 14px
   .blog__top
      margin-bottom: 30px
      flex-direction: column 
      align-items: flex-start
   .blog
      .arrows 
         justify-content: center
         margin: 0 auto 20px
   .room2 h1
      font-size: 24px
      line-height: 110%
      margin: 50px auto
   .room2 .tabs__btn_first
      font-size: 16px
      line-height: 100%
      margin-bottom: 50px
   .room2 .tabs2__nav .tabs__btn
      font-size: 10px
      padding: 0 10px
   .room2 .tabs2__nav
      margin-bottom: 30px
   .room2__left
      height: 400px
      padding: 30px
   .room2__left p
      font-size: 30px
   .room2__left p span
      font-size: 10px
      margin-bottom: 10px
   .room2__title
      font-size: 24px
   .room2__sub
      font-size: 16px
      line-height: 140%
   .room2__text
      font-size: 14px
   .blog-page .swiper4 .swiper-slide
      width: 100%
   .page .header__wrap h1
      width: 100%
      max-width: 268px
   .page .header__wrap .margin
      margin: 24px auto 113px !important
   .blog-page h2
      font-size: 32px
      margin-bottom: 30px
   .room2 h2
      font-size: 32px
      margin-bottom: 30px
   .item h2.title-tab span
      margin-right: -7px
   .item h2.title-tab span
      font-size: 24px
   .item__title h2 span 
      font-size: 28px
      top: -2px
      margin-left: 0
   .item__title p
      top: 5px
      margin-left: 14px
   .item__title .title-tab
      font-size: 24px
      top: -15px
      letter-spacing: 0
   .item__title .title-tab.active
      font-size: 32px
      line-height: 100%
      letter-spacing: 0px
   .item .title-tab.active span
      font-size: 28px
      top: 3px
      margin-right: -9px
      margin-left: 9px
   p.title-tab.active 
      top: -12px
   .item h2.title-tab span
      top: 5px
   .item h2.title-tab
      display: flex
      flex-wrap: nowrap
   .item h2.title-tab
      top: -9px !important
   .preview
      display: none
   .ser__row 
      left: 20px
   .ser__block
      max-width: 76%
   .ser .arrows
      position: relative
      left: -80px
   .about__block
      padding-bottom: 30px
      margin-bottom: 30px
      flex-direction: column
   .about__block img
      margin-bottom: 20px
      width: 100%
   .about__block div
      max-width: 100%
      margin-left: 0
   .team__item
      flex-direction: column
      align-items: flex-start
      margin-bottom: 50px
   .team__item img
      margin-right: 0
      margin-bottom: 20px
      width: 100%
   .team__item a
      margin-top: 40px
   .links__item
      padding-bottom: 30px
      margin-bottom: 30px
      flex-direction: column
   .links__item span
      margin-right: 0
      margin-bottom: 20px
   .links__item h3
      margin-right: 0
      max-width: 100% 
      margin-bottom: 20px
   .links__item .svg
      margin-top: 20px
   .links__btn
      width: 100%
   .ser-page .links__item span
      font-size: 18px
   .links__item img
      display: none
   .ser-page .links__item
      padding: 40px 0 20px
   .ser-page .links__item h3
      max-width: 100%
   .ser-page .links__item p
      font-size: 16px
   .ser-page .links__item h3
      margin-right: 0
      font-size: 21px
   .price .price__sub
      display: none
   .price__wrap .links__item span
      font-size: 18px
      margin-left: 0
      margin-top: 20px
   .excursions .links__item div p + p, .excursions .links__item div p
      font-size: 13px
   .shop__item
      width: 100%
   .contacts__text
      margin: 0 auto 30px
   .contacts-page__links
      margin: 30px auto
      a 
         margin: 0 auto
   .contacts__sub
      margin: 0 auto 40px
   .contacts-page__info
      margin-top: 30px
   .contacts-page .contacts__map
      top: 383px
   .corporate__image
      height: 300px
      margin-bottom: 30px
   .corporate__row_2
      margin-bottom: 30px
   .corporate__area
      margin: 0px 0 30px
   .corporate__block p
      font-size: 16px
   .corporate__block
      padding: 30px 0 
      margin: 30px 0
   .corporate__info p
      font-size: 14px
      margin-bottom: 20px
   .corporate .room3__left ul li
      font-size: 13px
      align-items: flex-start
   .corporate__area div
      &:first-child
         padding-top: 0
   .reviews .swiper9 .swiper-slide
      width: 100%
      &:nth-child(n+7)
         display: none
@media screen and (max-width: 576px)
   button:active, button:focus 
      outline: none
   button::-moz-focus-inner 
      border: 0
   a:active, a:focus
      outline: none
   input, textarea
      outline: none
   input:active, textarea:active
      outline: none
   input:focusout
      outline: none
   .mm 
      flex-direction: column 
      align-items: center
      justify-content: center
      li 
         margin-bottom: 40px !important
         width: 100% !important
         margin-top: 0 !important
   .mob 
      display: block !important
   .nav__sub
      display: none
   .nav__tel
      margin-left: 45px
   .nav__btn
      margin-left: auto
   .ser .arrows
      margin-top: 30px
   .ser .swiper1
      height: 650px
   .ser__block
      max-width: 97%
   .ser__top
      padding-top: 20px
   .item__btn
      left: 35px
   .info__pic
      bottom: 318px 
   .area__name
      color: rgb(255, 216, 176) !important
      letter-spacing: 0 !important
   .area__item:last-child
      border-bottom: none
   .contacts__map 
      height: 232px
      right: 50%
      top: 290px
      margin-right: -150px
   .spec__top
      flex-direction: column
      align-items: flex-start
   .spec 
      .container 
         padding: 0 26px
   .spec__area h3
      margin-bottom: 7px
   .spec__area
      width: max-content 
   .spec__item
      .spec__area
         &:nth-child(2)
            margin: 18px auto 0
            position: relative
            left: 10px
   .spec__block ul li
      font-size: 7px
      margin-bottom: 10px
   .spec__block h4
      font-size: 9px
   .footer__fig 
      top: 0
      left: -128px
      z-index: 0
      width: 213%
   .spec__last
      position: relative
      left: -10px
   .area__content .area__text 
      br 
         display: none
   .page .header__wrap h1
      margin-top: 119px
   .error__row
      max-width: 250px
      margin: 0 auto
   .error__btn
      margin-top: 48px
   .arcticmodal-container_i
      width: 100%
   .popup-call__box
      padding: 20px
      width: 100%
      left: 0
      margin-left: 0
   .popup__fig1
      width: 100%
      height: 57px
      left: 0
   .popup__name
      margin-top: 12px
      font-size: 12px
      margin-bottom: 40px
   .popup__tel
      font-size: 24px
   .popup__socials
      flex-direction: column 
      a 
         margin-bottom: 10px
         width: 100%
   .box-modal__close
      top: 10px
      right: 10px
   .popup__form button
      width: 100%
      height: 80px
   .call .popup__fig1
      display: none 
   .call .popup__name
      font-size: 24px
      margin-bottom: 30px
   .call 
      .popup-call__box
         top: -20rem
   #popup-call2 button
      width: 100%
   #popup-thank .popup__title
      font-size: 25px
   #popup-thank .popup__name
      font-size: 18px
   .popup__btn
      width: 100%
   .social
      width: 60px
      height: 60px
      position: fixed
      right: 50%
      bottom: 30px
      z-index: 10
      margin-right: -35px
      img 
         width: 100%
   .blog .swiper4 .swiper-slide a::after
      left: 50%
      margin-left: -17.5px
   .search h1
      line-height: 110% 
      font-size: 22px
   .bread
      margin-bottom: 40px
   .bread a, .bread p
      font-size: 12px
   .sear .logo2
      display: none
   .search__sub
      font-size: 12px
   .search__item div p
      font-size: 12px
      width: 100%
      line-height: 120%
   .search__item div h3
      font-size: 16px
   .search__item div span
      font-size: 12px
   .search__nav ul li
      width: 35px
      height: 35px
   .order__fig
      margin-bottom: 30px
   .order__title
      font-size: 18px
   .order__per
      display: none
   .item-room .swiper2 .swiper-slide
      width: 100%
   .item-room .swiper2
      gap: 0
   .item .dates, .item .date-field
      width: 100%
   .room3__sub
      margin-bottom: 50px
      font-size: 18px
   .room3__left p, .room3__name
      font-size: 24px
      line-height: 110%
      br 
         display: none
   .room3__left ul li
      font-size: 18px
   .room3__text
      font-size: 18px
      line-height: 28px
   .room3__top
      margin-bottom: 40px
   .room3__right ul li
      font-size: 18px
      line-height: 28px
   .room3
      padding-bottom: 40px
   .order2 .order__title
      font-size: 18px
   .room3__name
      margin-bottom: 25px
   .blog-page h1
      margin-top: 0
   .blog-item__wrap img
      border-radius: 20px 20px 0px 0px
   .blog-item__wrap h1
      margin: -62px auto 80px
      max-width: 368px
   .blog-item__wrap:after
      bottom: 35px
   .blog-item__row h3
      font-size: 24px
   .blog-item__text p
      font-size: 16px
      line-height: 24px
   .blog-item__block p
      font-size: 18px
      line-height: 110%
   .blog-item__images
      flex-wrap: wrap 
      img 
         width: 50%
         height: 300px
   .photo .error__btn
      margin-top: 80px
   .photo h1
      margin-bottom: 40px
   .page .header__wrap h1 
      margin-bottom: 143px
      margin-top: 87px
   .page .header__wrap .margin2
      margin: 153px auto 74px !important
   .ser__row
      left: 10px
      width: 100%
      max-width: 58%
   .ser__bottom
      margin-top: 5px
   .med .swiper3 .swiper-slide .btn
      margin-left: auto 
      margin-right: auto
      margin-top: 15px
      margin-bottom: 40px
   .info h2
      margin: -33px auto 29px
   .item .swiper-pagination-progressbar
      display: flex
   .spec__sum:after 
      content: "₽"
      display: inline-flex
      font-size: 19px
   .services__wrap .error__row
      max-width: 100%
   .services__item .error__item
      max-width: 250px 
      margin: 0 auto
   .services__item .error__item img
      height: 189px 
   .services__item .error__item
      height: 350px
   .services__item .error__item .svg
      margin-right: -22px
   .services 
      .error__item p 
         padding: 20px 34px 32px
   .blog-item__wrap h1 
      min-height: 99px
   .item .title-tab.active span
      font-size: 29px
   .item h2.title-tab span
      top: 4px
   .item h2.title-tab
      top: -13px !important
   .item .booking
      margin-top: 30px
   .item__title
      margin-top: 20px
   .note__text
      font-size: 12px
   .note 
      left: 0
      flex-direction: column
      text-align: center
      align-items: center
      width: 100%
      bottom: 0
      height: auto
      padding: 11px
   .note__close
      height: 40px
      margin-top: 10px
      width: 100%
      font-size: 13px
   .order .error__btn
      margin-top: 10px
   .about .blog-item__wrap
      margin: 30px 0
   .about__content .blog-item__name
      margin-bottom: 30px
   .about__content .blog-item__name p
      font-size: 18px
      line-height: 120%
   .about__content .blog-item__text
      margin-bottom: 30px
   .about__item
      width: 100%
      margin-top: 0 !important
      margin-bottom: 20px !important
   .about__info
      margin-top: 50px
   .marquee-container
      margin: 50px 0
   .about__area h2
      font-size: 24px
   .about__per
      margin: 30px 0 40px
   .about__flex
      margin-bottom: 30px
   .about .swiper7__img
      height: 278px
   .about__link
      max-width: 100%
   .links
      padding: 60px 0 40px
   .links__item
      padding-bottom: 30px
      margin-bottom: 30px
      flex-direction: column
   .links__item span
      margin-right: 0
      margin-bottom: 20px
   .links__item h3
      margin-right: 0
      max-width: 100% 
      margin-bottom: 20px
   .links__item .svg
      margin-top: 20px
   .links__btn
      width: 100%
   .team__left h1
      margin-bottom: 20px
   .team__left h2
      font-size: 18px
      line-height: 130%
      margin-bottom: 20px
   .team__item img
      height: 340px
      object-position: 0px -36px
   .team__content h3
      font-size: 24px
      line-height: 130%
   .team__item a
      margin-top: 30px
      width: 100%
   .team__content
      max-width: 100%
   .team
      padding-bottom: 30px
   .team-item__left
      max-width: 100%
   .team-item__left img
      height: 400px
      object-position: 0 -20px
   .team-item .team__content
      margin-top: 40px
   .team-item .team__content h2
      font-size: 32px
   .team-item__links
      flex-direction: column 
      a 
         width: 100% !important
         &:first-child
            margin-right: 0
            margin-bottom: 10px
         &:nth-child(2)
            padding: 0 19px
            background: #474d53
   .cases__item
      width: 100%
      &:nth-child(n+7)
         display: none
   .cases__more
      margin-top: 50px
   .cases 
      .team__left
         margin-bottom: 10px
      .team__left h1
         letter-spacing: 0
         margin-bottom: 0
   .team__left h1
      letter-spacing: 0
   .price__wrap .links__item:last-child
      margin-bottom: 0
   .cert .swiper8 .swiper-slide a p
      font-size: 18px 
      line-height: 140%
   .cert .swiper8 .swiper-slide a img
      height: 535px
   .lic h2
      font-size: 21px
   .lic
      padding-bottom: 60px
   .excursions
      .links__item div small
         font-size: 14px
      .ser-page__links
         margin-bottom: 0
   .ser-page .links__item:hover
      padding-right: 0
   .exc-item .blog-item__wrap img
      height: 450px
   .exc-item .blog-item__wrap h1
      margin-bottom: 68px
   .kids .error__item p, .kids .services__item:nth-child(2) .error__item p
      font-size: 21px
   .shop__content h4
      font-size: 24px
   .shop .error__btn
      margin-bottom: 0
   .sales .services__wrap
      margin-top: 80px
   .sales .error__item p
      font-size: 21px
   .loyalty 
      h1
         margin-top: 60px
   .loyalty__wrap
      margin-top: 40px
   .loyalty__item h2
      font-size: 21px
      margin-bottom: 20px
   .loyalty__item p, .loyalty__item ul li
      font-size: 14px
      line-height: 140%
   .contacts-page__label
      font-size: 11px
   .contacts-page__input input
      height: 45px
   .contacts-page__input textarea
      height: 150px
   .header-contacts
      .error__fig
         height: 886px
   .contacts-page .contacts__map 
      width: 400px
      top: 346px
      margin-right: -200px
      height: 281px
   .about-item .corporate__name
      font-size: 21px
      line-height: 30px
   .about-item .corporate__info p 
      font-size: 16px
      line-height: 29px
   .about-item .corporate__info ul li
      font-size: 16px
      line-height: 29px
   .about-item .corporate__row:last-child
      margin-bottom: 50px
   .about-item .about__flex
      flex-direction: column
      .arrows 
         margin-top: 25px
   .about-item__link
      margin: 40px 0
   .transfer__row h2
      font-size: 24px
      line-height: 120%
   .transfer 
      .cases__more
         width: 100%
   .transfer__row h2
      font-size: 20px
   .help h3 
      font-size: 22px
      line-height: 140%
      margin-top: 114px
      margin-bottom: 22px
   .help .about__flex h2
      font-size: 22px
      text-align: center
   .team .accordeon
      margin-top: -20px
   .help 
      .bread 
         margin-bottom: 100px
   .help .contacts-page__info .contacts-page__form button
      width: 100%
   .reviews__top h1
      margin-bottom: 0
      margin-top: 40px
   .bread a:after
      position: relative
      top: 2px
   .rules .team__left
      margin-bottom: 20px
   .rules__links
      max-width: 100%
   .rules__item
      margin-bottom: 40px
   .rules__title
      font-size: 18px
      line-height: 130%
      margin-bottom: 15px
   .rules__text
      font-size: 12px
   .rules .links__btn
      margin: 30px 0
   .mm
      flex-direction: column
@media screen and (max-width: 576px) and (min-width: 440px)
   .error__fig
      top: -60px
@media screen and (max-width: 480px) and (min-width: 440px)
   .error__fig
      top: -45px
@media screen and (max-width: 440px) and (min-width: 422px)
   .info__pic
      bottom: 277px
   .error__fig
      top: -35px
@media screen and (max-width: 422px) and (min-width: 400px)
   .info__pic
      bottom: 290px
   .error__fig
      top: -35px
@media screen and (max-width: 400px) and (min-width: 360px)
   .info__pic
      bottom: 291px
   .error__fig
      top: -35px
@media screen and (max-width: 360px) and (min-width: 320px)
   .popup__name
      font-size: 11px


